.Header {
    width: 100%;
    height: 12rem;
    background-image: url('../../assets/images/bg-mobile-dark.jpg');
    background-size: cover;
    transition: all 100ms linear;
}

.Light {
    background-image: url('../../assets/images/bg-mobile-light.jpg');
    transition: all 100ms linear;
}

@media (min-width: 500px) {
    .Header {
        height: 18rem;
        background-image: url('../../assets/images/bg-desktop-dark.jpg');
        transition: all 100ms linear;
    }

    .Light {
        background-image: url('../../assets/images/bg-desktop-light.jpg');
        transition: all 100ms linear;
    }
}